/*Global Stil*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body {
  font-family: sans-serif;
  background: rgb(238, 239, 255);
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  min-height: 100vh;
  box-shadow: 0 0 5rem rgb(163, 163, 163);
}
.container {
  min-width: 80%;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: white;
}
.search input {
  width: 100%;
  margin-top: 0.3rem;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.search {
  margin: 2rem 0;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  text-align: left;
}
thead {
  text-decoration: underline;
  cursor: pointer;
}

/* Responsivt for mindre enheter  */
@media screen and (max-width: 768px) {
  html {
    font-size: 62%;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    word-wrap: break-word;
    overflow: scroll;
  }
  th,
  td {
    word-wrap: break-word;
  }
}
